.Menu{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: 300px;
    padding: 20px 10px;
    box-sizing: border-box;
    z-index: 90;
    transform: translateX(0px);
    transition: transform .3s ease-in;
    background: #fff;
}

.close{
    transform: translateX(-300px);
}

.Menu ul{
    list-style:  none;
    padding: 0;
    margin: 0;
}

.Menu ul li{
    margin-bottom: 15px;
}

.Menu ul li a{
    color: rgb(28, 102, 28);
    text-decoration: none;
    position: relative;
    padding: 0 20px 10px;
    background-color: #fff;
    transition: opacity .3s ease-in;
    font-size: 30px;
}

.Menu ul li a:hover, .Menu ul li a:active{
    opacity: .7;
}